<!DOCTYPE HTML>
<html>
<head>
	<title>YELPCAMP</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheet/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheet/authenti.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
	<nav>
		<div class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">YELPCAMP</a>
					<a href="/campgrounds" class="navbar-brand">Home</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<% if(!currentUser) { %>
						<li><a href="/login"><i class="fas fa-user"></i> Login</a></li>
						<li><a href="/register"><i class="fas fa-user-plus"></i> Sign-up</a></li>
					<% }	else {%> 
						<li>
							<a href="#">Signed in as <%= currentUser.username %></a>
						 </li>
						<li><a href="/logout"><i class="fas fa-user-times"></i> Logout</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</nav>
		<div class="container">	
		<% if(error && error.length > 0) {%>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
		<% } %>
		<% if(success && success.length > 0) {%>
			<div class="alert alert-success" role="alert">
				<%= success %>	
			</div>
		<% } %>
	</div>

